<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Assessment Date</th>
        <th scope="col">Download Assessment</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="accordion-toggle collapsed"
        id="accordion1"
        data-toggle="collapse"
        data-parent="#accordion1"
        href="#collapseOne"
        *ngFor="let item of assessment;  let i = index"
      >
        <td>{{ item.created_at | date: "MMMM d, y" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            type="submit"
            (click)="onAssessmentSubmit(i)"
          >
            Download
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>