<div style="height: 100vh">
  <div class="container">
    <div class="row divmargin">
      <div class="col-md-12 text-center">
        <h2>AutoDSO Assessment</h2>
      </div>
      <div class="col md 12">
        <p>
          This Security Metric Assessment is used to lay out the requirements
          that need to be met by the company’s standards. It should be used by
          CTO’s, CIO’s, and CISO’s to define the standard security metrics. This
          assessment will also be used by developers to understand and follow
          the standard security metrics set by the CTO’s, CIO’s, and CISO’s.
          This assessment will create a template that captures the requirements
          set by the higher authority, as well as provide documentation for the
          developers and auditors for easily identifying whether the
          requirements are being met.
        </p>
      </div>
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/active-assessment']"
          routerLinkActive="router-link-active"
        >
          Take Security Metric Assessment
        </button>
      </div>
    </div>
  </div>
</div>
