<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="onSubmit()">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >1. {{ assessmentEnum.TEST_COVERAGE }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="testCoverage"
              name="testCoverage"
              id="testCoverage"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <span class="input-group-text md-addon"
            >2. {{ assessmentEnum.CHANGE_TYPES }}</span
          >
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="changeTypes"
              name="changeTypes"
              id="changeTypes"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <span class="input-group-text md-addon"
            >3. {{ assessmentEnum.TIME_AVAILABILTY_EVENT_INFO }} in hours.</span
          >
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="timeAvailabilityEventInfo"
              name="timeAvailabilityEventInfo"
              id="timeAvailabilityEventInfo"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >4. {{ assessmentEnum.CHANGE_RESOLUTION_TIME }} in hours.</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="changeResolutionTime"
              name="changeResolutionTime"
              id="changeResolutionTime"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >5. {{ assessmentEnum.PLATFORM_CHANGE_VOLUME }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="platformChangeVolumn"
              name="platformChangeVolumn"
              id="platformChangeVolumn"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >6. {{ assessmentEnum.PLATFORM_CHANGE_FAILURE_RATE }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="platformChangeFailureRate"
              name="platformChangeFailureRate"
              id="platformChangeFailureRate"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >7. {{ assessmentEnum.MTTR }} in hours.</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="MTTR"
              name="MTTR"
              id="MTTR"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >8. {{ assessmentEnum.TIME_VULNERABILITY_PATCH }} in hours.</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalVulnerabilityPatch"
              name="totalVulnerabilityPatch"
              id="totalVulnerabilityPatch"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >9. {{ assessmentEnum.TOTAL_MONITORING_ALERTS }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalMonitoringAlerts"
              name="totalMonitoringAlerts"
              id="totalMonitoringAlerts"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >10. {{ assessmentEnum.TOTAL_UNIT_INTEGRATION_TESTS }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalUnitInegrationTests"
              name="totalUnitInegrationTests"
              id="totalUnitInegrationTests"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >11. {{ assessmentEnum.TOTAL_FUNCTIONAL_ACCEPTANCE_TESTS }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalFunctionalAcceptanceTexts"
              name="totalFunctionalAcceptanceTexts"
              id="totalFunctionalAcceptanceTexts"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >12. {{ assessmentEnum.MEAN_RECOVERY_POINT }} in hours.</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="meanRecoveryPoint"
              name="meanRecoveryPoint"
              id="meanRecoveryPoint"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >13. {{ assessmentEnum.RETENTION_CONTROL_COMPLIANCE }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="retentionControlCompliance"
              name="retentionControlCompliance"
              id="retentionControlCompliance"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >14. {{ assessmentEnum.TECHNICAL_CONTROLS }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="technicalControls"
              name="technicalControls"
              id="technicalControls"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >15. {{ assessmentEnum.VULNERABILITY_PATCH_LEAD_TIME }} in
              hours.</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="vulnerabilityPatchLeadTime"
              name="vulnerabilityPatchLeadTime"
              id="vulnerabilityPatchLeadTime"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >16. {{ assessmentEnum.TOTAL_SAR_FINDINGS }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalSarFindings"
              name="totalSarFindings"
              id="totalSarFindings"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >17. {{ assessmentEnum.ARCHITECTURE_SECURITY_REVIEW_TIME }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="architectureSecurityReviewTime"
              name="architectureSecurityReviewTime"
              id="architectureSecurityReviewTime"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >18. {{ assessmentEnum.TOTAL_SYSTEM_LOGGING }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="totalSystemLogging"
              name="totalSystemLogging"
              id="totalSystemLogging"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >19. {{ assessmentEnum.PRIVILEGE_AUDITING_PERCENTAGE }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="priviledgeAuditingPercentage"
              name="priviledgeAuditingPercentage"
              id="priviledgeAuditingPercentage"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >20. {{ assessmentEnum.ADMINISTRATOR_COUNT }}</span
            >
          </div>
          <div class="col-md-2 questionMargin">
            <input
              type="number"
              [(ngModel)]="administratorCount"
              name="administratorCount"
              id="administratorCount"
              class="form-control"
            />
          </div>
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon"
              >21. {{ assessmentEnum.ONBOARDING_LEAD_TIME }} in hours.</span
            >
          </div>
          <div class="col-md-2">
            <input
              type="number"
              [(ngModel)]="onboardingLeadTime"
              name="onboardingLeadTime"
              id="onboardingLeadTime"
              class="form-control"
            />
          </div>
        </div>
        <button
          class="btn btn-info my-4 btn-block"
          type="submit"
          [disabled]="validationOnSubmit() === true"
        >
          Submit Assessment
        </button>
        <div class="text-center">
          <span *ngIf="validationOnSubmit() === true"
            >Cannot submit until all fields are filled out!</span
          >
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
