  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TEST_COVERAGE
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.CHANGE_TYPES
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TIME_AVAILABILTY_EVENT_INFO
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.CHANGE_RESOLUTION_TIME
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.PLATFORM_CHANGE_VOLUME
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.PLATFORM_CHANGE_FAILURE_RATE
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.MTTR
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TIME_VULNERABILITY_PATCH
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TOTAL_MONITORING_ALERTS
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TOTAL_UNIT_INTEGRATION_TESTS
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TOTAL_FUNCTIONAL_ACCEPTANCE_TESTS
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.MEAN_RECOVERY_POINT
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.RETENTION_CONTROL_COMPLIANCE
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TECHNICAL_CONTROLS
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.VULNERABILITY_PATCH_LEAD_TIME
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TOTAL_SAR_FINDINGS
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.ARCHITECTURE_SECURITY_REVIEW_TIME
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.TOTAL_SYSTEM_LOGGING
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.PRIVILEGE_AUDITING_PERCENTAGE
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.ADMINISTRATOR_COUNT
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">{{
              assessmentEnum.ONBOARDING_LEAD_TIME
            }}</span>
          </div>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
