<div style="height: 100vh">
  <div class="container">
    <div class="row">
      <div class="col-md-12 divmargin">
        <h3 class="mb-md-3">Best Practices</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Code analysis – deliver code in small chunks so vulnerabilities can
            be identified quickly.
          </li>
          <li class="list-group-item">
            Change management – increase speed and efficiency by allowing anyone
            to submit changes, then determine whether the change is good or bad.
          </li>
          <li class="list-group-item">
            Compliance monitoring – be ready for an audit at any time (which
            means being in a constant state of compliance, including gathering
            evidence of GDPR compliance, PCI compliance, etc.).
          </li>
          <li class="list-group-item">
            Threat investigation – identify potential emerging threats with each
            code update and be able to respond quickly.
          </li>
          <li class="list-group-item">
            Vulnerability assessment – identify new vulnerabilities with code
            analysis, then analyze how quickly they are being responded to and
            patched.
          </li>
          <li class="list-group-item">
            Security training – train software and IT engineers with guidelines
            for set routines.
          </li>
        </ul>
      </div>
      <div class="col-md-12 divmargin">
        <h3>Resources</h3>
        <p>
          Our recommended resources will give you an idea of widely used
          security baseline requirements that can help your organization begin
          to think what specific metrics you may want to implement.
        </p>
      </div>
    </div>
  </div>
</div>
