<div style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12 divmargin">
                <h3>What is DevSecOps</h3>
                <p>
                    DevSecOps is the philosophy of integrating security practices within the DevOps process. DevSecOps
                    involves creating a ‘Security as Code’ culture with ongoing, flexible collaboration between release
                    engineers and security teams. The DevSecOps movement, like DevOps itself, is focused on creating new
                    solutions for complex software development processes within an agile framework.
                </p>
                <p>
                    DevSecOps is a natural and necessary response to the bottleneck effect of older security models on
                    the
                    modern continuous delivery pipeline. The goal is to bridge traditional gaps between IT and security
                    while ensuring fast, safe delivery of code. Silo thinking is replaced by increased communication and
                    shared responsibility of security tasks during all phases of the delivery process.
                </p>
                <p>
                    In DevSecOps, two seemingly opposing goals —“speed of delivery” and “secure code”—are merged into
                    one
                    streamlined process. In alignment with lean practices in agile, security testing is done in
                    iterations
                    without slowing down delivery cycles. Critical security issues are dealt with as they become
                    apparent,
                    not after a threat or compromise has occurred.
                </p>
            </div>
            <div class="col-md-12 divmargin">
                <h3>How AutoDSO helps you</h3>
                <p>
                    DevSecOps is the philosophy of integrating security practices within the DevOps process. DevSecOps
                    involves creating a ‘Security as Code’ culture with ongoing, flexible collaboration between release
                    engineers and security teams. The DevSecOps movement, like DevOps itself, is focused on creating new
                    solutions for complex software development processes within an agile framework.
                </p>
            </div>
        </div>
    </div>
</div>