<div style="height: 100vh">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <ul class="nav flex-column grey lighten-4 py-4">
            <li class="nav-item">
              <a class="nav-link active" href="#!">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Asssessment Management</a>
            </li>
          </ul>
        </div>
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
