<div style="height: 100vh">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form
            (submit)="onRegisterSubmit()"
            class="text-center border border-light p-5"
          >
            <p class="h4 mb-4">Sign up</p>

            <div class="form-row mb-4">
              <div class="col">
                <input
                  type="text"
                  [(ngModel)]="firstName"
                  name="firstName"
                  id="firstName"
                  class="form-control"
                  placeholder="First name"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  [(ngModel)]="lastName"
                  name="lastName"
                  id="lastName"
                  class="form-control"
                  placeholder="Last name"
                />
              </div>
            </div>

            <input
              type="email"
              [(ngModel)]="email"
              id="email"
              name="email"
              class="form-control mb-4"
              placeholder="E-mail"
            />

            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password"
            />
            <small
              id="defaultRegisterFormPasswordHelpBlock"
              class="form-text text-muted mb-4"
            >
              At least 8 characters and 1 digit
            </small>

            <button class="btn btn-info my-4 btn-block" type="submit">
              Register
            </button>
            <button
              class="btn btn-danger btn-block my-4"
              type="submit"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
            >
              Return to Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
