<div style="height: 100vh">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <!--Register form-->
          <form class="text-center border border-light p-5" action="#!">
            <p class="h4 mb-4">Sign in</p>
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            <div class="d-flex justify-content-around">
              <div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
              </div>
              <div>
                <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot password?</a>
              </div>
            </div>
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
            <button class="btn btn-danger btn-block my-4" type="submit" [routerLink]="['/home']" routerLinkActive="router-link-active" >Return Home</button>
            <p>Not a member?
              <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
            </p>
          </form>
          <!--/Register form-->
        </div> <!-- Grid column -->
      </div> <!-- Grid row -->
    </div>
  </div>
</div> <!-- /Start your project here-->